node_modules
.DS_Store
dist/
out/
lib/
coverage
*.tsbuildinfo

*.vsix

**/generated/*.tonto
**/generated/*.json

.yarn

packages/tonto-vscode/data/tonto-tmLanguage.json

**/tonto_dependencies

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
out/
src/language/generated/
static/bundle/
static/monaco-editor-workers/
static/worker/
syntaxes/
pack