* {
    border: 0;
    margin: 0;
    padding: 0;
}

text, tspan{
    fill: black;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
    background: #f0fffe;
}  

div, svg {
    min-width: 100%;
    overflow: visible;
}

.grabbing {
    cursor: move;
}