* {
    border: solid red 2px;
    margin: 0;
    padding: 0;
}

text, tspan{
    fill: black;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}  

.grabbing {
    cursor: grabbing;
} 